
#nav{
    font-size: 26;
    margin-left: 3%;
    margin-right: 3%;
    color: #fff;
}

.result-body{
    margin: 10%;
    margin-top: 2%;
}

#t1{
    width: 45%;
    margin-top: 3%;
}